.modalContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 90vw;
    height: 80vh;
    border: none;
    z-index: 15;
}

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.innerModalContainer {
    position: relative;
    display: flex;
    align-items: center;
    background-color: black;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding: 2%;
    overflow-y: auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    font-family: "Nova Square", sans-serif;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #ccc;
    height: 10%;
}

.titleContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 100%;
}

.title {
    font-weight: 300;
    font-size: 1.5em;
    color: white;
}

.langContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 100%;
    gap: 10px;
}

.lang {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
}

.flag {
    width: 100%;
    object-fit: contain;
}

.modalContent {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
    color: black;
    font-size: 1em;
    width: 100%;
    gap: 5%;
}

.mobileMenu {
    width: 45%;
}

.swipper {
    height: 40%;
    width: 90%;
    border: 2px solid rgb(79, 79, 79);
    background-color: rgb(197, 197, 197);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    font-family: "Nova Square", sans-serif;
    padding: 2%;
}

.content {
    display: flex;
    width: 90%;
    height: 45%;
    align-items: center;
    justify-content: center;
    background-color: rgb(67, 67, 67);
    border: 3px solid rgb(0, 0, 0);
    border-radius: 5px;
    flex-direction: column;
    margin: 5% 0;
}

.arrowsContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 10%;
}

.arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: rgb(0, 0, 0);
    border: 5px solid rgb(54, 54, 54);
    border-radius: 50%;
}

.arrowImg {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.section1,
.section {
    height: 40%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: grey;
    border: 2px solid rgb(58, 58, 58);
}

.navigationName {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    font-size: 1em;
    text-align: center;
}

.accessControl {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 50%;
    height: 80%;
    background-color: rgb(37, 39, 58);
    gap: 10px;
}

.visorMenu,
.visorControl {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 90%;
    background-color: rgb(0, 0, 0);
    border-radius: 15px;
    border: 3px solid grey;
    color: rgb(11, 182, 11);
    font-family: "Nova Square", sans-serif;
    font-weight: bold;
    font-size: 0.8em;
    letter-spacing: 0.1em;
    text-align: center;
}

.numbers {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 90%;
    height: 50%;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 15%;
    background-color: grey;
    border-radius: 5px;
    color: black;
    font-size: 1em;
    font-weight: bold;
    font-family: "Nova Square", sans-serif;
}

.accessButton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
    width: 80%;
    background-color: grey;
    margin-bottom: 7%;
}

.accessImg {
    object-fit: cover;
    width: 100%;
    height: 90%;
}

/* Estilos responsivos */
@media screen and (max-width: 900px) {
    .modalContainer {
        width: 95%;
        height: auto;
    }

    .innerModalContainer {
        font-size: 1em;
    }

    .modalContent {
        flex-direction: column;
    }

    .mobileMenu {
        width: 80%;
    }

    .accessControl {
        width: 90%;
        height: auto;
    }

    .lang {
        width: 30px;
        height: 30px;
    }

    .button {
        width: 25%;
        height: 10%;
    }

    .visorControl {
        font-size: 0.7em;
    }
}

@media screen and (max-width: 700px) {
    .modalContent {
        gap: 20px;
    }

    .accessControl {
        height: auto;
    }

    .arrow {
        width: 35px;
        height: 35px;
    }

    .button {
        width: 22%;
        height: 8%;
    }
}

@media screen and (max-width: 520px) {
    .title {
        font-size: 1.2em;
    }

    .lang {
        width: 25px;
        height: 25px;
    }

    .arrow {
        width: 30px;
        height: 30px;
    }

    .button {
        width: 20%;
        height: 8%;
    }

    .mobileMenu {
        width: 100%;
    }

    .accessControl {
        width: 100%;
        padding: 10px;
    }

    .visorControl {
        font-size: 0.6em;
    }
}
