.modalContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 60vw;
    height: 70vh;
    border: none;
    z-index: 15;
}

/* Fondo del modal */
.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

/* Contenido interno del modal */
.innerModalContainer {
    position: relative;
    display: flex;
    align-items: center;
    background-color: black;
    flex-direction: column;
    width: 60vw;
    height: 70vh;
    border-radius: 10px;
    padding: 1% 2% 1% 2%;
    overflow-y: auto; /* Permite scroll si hay mucho contenido */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    font-family: "Nova Square", sans-serif;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #ccc;
    height: 10%;
}

.titleContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 100%;
}

.title {
    font-weight: 300;
    font-size: 1.5em;
    color: white;
}


.langContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 100%;
}

.lang {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flag {
    width: 30%;
    object-fit: contain;
}

.modalContent {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    color: black;
    font-size: 1em;
    line-height: 1.5;
    width: 100%;
    gap: 5%;
}

.mobileMenu {
    width: 50%;
}

.swipper {
    height: 40%;
    width: 80%;
    border: 2px solid rgb(79, 79, 79);
    background-color: rgb(197, 197, 197);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    position: relative;
    font-family: "Nova Square", sans-serif;
    padding: 2% 0%;
}

.content {
    display: flex;
    width: 80%;
    height: 50%;
    align-items: center;
    justify-content: center;
    background-color: rgb(67, 67, 67);
    border: 5px solid rgb(0, 0, 0);
    border-radius: 5px;
    flex-direction: column;
    margin: 5% 0%;
}

.arrowsContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 10%;
}

.arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    border: 5px solid rgb(54, 54, 54);
    border-radius: 50%;
}

.arrowImg {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.section1 {
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: grey;
    border: 2px solid rgb(58, 58, 58);
}

.section {
    height: 40%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: grey;
    border: 2px solid rgb(58, 58, 58);
}


.navigationName {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    font-size: 1em;
    text-align: center;
}

.accessControl {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 40%;
    height: 80%;
    background-color: rgb(37, 39, 58);
    gap: 0.5em;
}

.visorMenu,
.visorControl {
    margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 90%;
    background-color: rgb(0, 0, 0);
    border-radius: 15px;
    border: 5px solid grey;
    color: rgb(11, 182, 11);
    font-family: "Nova Square", sans-serif;
    font-weight: bold;
    font-size: 0.8em;
    letter-spacing: 0.1em;
    padding-left: 0.6em;
    text-align: center;
}

.visorControl {
    width: 70%;
    height: 10%;
    letter-spacing: 0.5em;
}

.numbers {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 90%;
    height: 50%;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 20%;
    background-color: grey;
    border-radius: 5px;
    color: black;
    font-size: 1.2em;
    font-weight: bold;
    font-family: "Nova Square", sans-serif;
}

.accessButton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
    width: 80%;
    background-color: grey;
    margin-bottom: 7%;
}

.accessImg {
    object-fit: cover;
    width: 100%;
    height: 90%;
}


/* Estilos responsivos */
@media screen and (max-width: 900px) {
    .modalContainer {
        width: 90%;
        height: auto;
    }

    .innerModalContainer {
        font-size: 1.1em;
    }

    .modalContent{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    .mobileMenu {
        width: 40%;
        }
    .accessControl{
        width: 30%;
    }
    .langContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60%;
        height: 10%;
    }

    .lang {
        width: 50%;
        height: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .arrowsContainer {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        height: 15%;
    }
    
    .arrow {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30%;
        height: 100%;
        background-color: rgb(0, 0, 0);
        border: 5px solid rgb(54, 54, 54);
        border-radius: 50%;
    }

    .button {
        width: 27%;
    }
    .visorMenu{
        font-size: 0.7em;
    }
}

@media screen and (max-width: 700px) {
    .modalContainer {
        width: 90%;
        height: auto;
    }

    .innerModalContainer {
        font-size: 1.1em;
    }

    .modalContent{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    .mobileMenu {
        width: 50%;
    }
    .accessControl{
        width: 50%;
    }
    .langContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60%;
        height: 10%;
    }

    .lang {
        width: 50%;
        height: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .arrowsContainer {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        height: 15%;
    }
    
    .arrow {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30%;
        height: 100%;
        background-color: rgb(0, 0, 0);
        border: 5px solid rgb(54, 54, 54);
        border-radius: 50%;
    }

    .button {
        width: 27%;
    }

    .title {
        font-size: 1.2em;
    }
}

@media screen and (max-width: 520px) {
    .modalContainer {
        width: 90%;
        height: auto;
    }

    .innerModalContainer {
        font-size: 0.9em;
    }

    .langContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60%;
        height: 10%;
    }

    .lang {
        width: 50%;
        height: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .arrowsContainer {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        height: 15%;
    }
    
    .arrow {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30%;
        height: 100%;
        background-color: rgb(0, 0, 0);
        border: 5px solid rgb(54, 54, 54);
        border-radius: 50%;
    }

    .button {
        width: 27%;
    }
    .title {
        font-size: 1em;
    }
}