.container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    width: 15vw;
    height: 83.5vh;
    background-color: rgb(0, 0, 0);
    font-family: "Nova Square", sans-serif;
}

.accessControl {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 70%;
    height: 60%;
    background-color: rgb(37, 39, 58);
    gap: 0.5em;
    border-radius: 5px;
}

.visor {
    margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
    width: 70%;
    background-color: rgb(0, 0, 0);
    border-radius: 15px;
    border: 5px solid grey;
    color: rgb(11, 182, 11);
    font-weight: bold;
    font-size: 0.8em;
    letter-spacing: 0.6em;
    padding-left: 0.6em;
    text-align: center;
}

.numbers {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 90%;
    height: 50%;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 20%;
    background-color: grey;
    border-radius: 5px;
    color: black;
    font-size: 1em;
    font-weight: bold;
    font-family: "Nova Square", sans-serif;
}

.accessButton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25%;
    width: 80%;
    background-color: grey;
    margin-bottom: 7%;
}

.accessImg {
    object-fit: cover;
    width: 100%;
    height: 90%;
}

.accessLights {
    width: 70%;
    height: 12%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.accessMobile{
    display: none;
}

.helpButton {
    display: flex;
    align-self: center;
    justify-content: center;
    padding: 5%;
    margin: 3%;
    width: 2.5rem;
    height: 2.5rem;
}

.topButtons{
    width: 100%;
}


/* Media Queries */

@media (max-width: 1100px) {
    .accessControl {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        width: 90%;
        height: 60%;
        background-color: rgb(37, 39, 58);
        gap: 0.5em;
        border-radius: 5px;
    }

    .accessButton {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 25%;
        width: 80%;
        background-color: grey;
        margin-bottom: 7%;
    }
}

@media (max-width: 900px) {
    .container{
        display: none;
    }

    .accessLights{
        display: none;
    }
    .accessControl{
        display: none;
    }
}