.container {
    display: inline-block;
}

.switch {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 42px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    cursor: pointer;
    transition: 0.4s;
    border-radius: 60px;
    background-color: #383838;
}

.slider img {
    position: absolute;
    content: "";
    height: 36px;
    width: 36px;
    left: 3px;
    bottom: 3px;
    transition: transform 0.4s;
    border-radius: 50%;

}

input:checked+.slider {
    background-color: #383838;
}

input:checked+.slider img {
    transform: translateX(38px);
}


@media (max-width: 700px) {
    .container {
        width: 44px; /* Reduce el tamaño del contenedor */
    }

    .switch {
        width: 42px; /* Ajusta el ancho del switch */
        height: 25px; /* Ajusta el alto del switch */
    }

    .slider img {
        height: 21px; /* Reduce el tamaño de las luces */
        width: 21px;
        left: 2px; /* Ajusta la posición */
        bottom: 2px;
    }

    input:checked + .slider img {
        transform: translateX(16px); /* Ajusta la traslación para coincidir con el nuevo tamaño */
    }
}